.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
 justify-content: space-evenly;
 flex-wrap: wrap;
 align-content: flex-start;

}
.box{

    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(203, 43, 70);
}
#box2{
    background-color: rgb(169, 204, 28);
}
#box3{
    background-color: rgb(221, 116, 18);
}
#box4{
    background-color: rgba(240, 64, 15, 0.682);
}
