body{
    margin: 0px;
}
main{
    margin-left:20px;
    margin-right:20px;
}
h1{
    text-align: center;
    text-shadow: 3px 3px 5px red,-3px -3px 5px rgb(0, 255, 60);
   font-size: 4em;

}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0,0%,10%);
}
.navbar li{
    float: left;
}