*{
      box-sizing: border-box;
}
.container{
    background-color:black;
    height: 100vh;


}
.box{
    background-color:white;
    
    border: 2px solid;
    height: auto;
    width: 50%;
    float: left;
    padding: 25px;
    text-align: center;
   
   
   min-height:50;
    ;
  
}