*{
    box-sizing:border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(0, 8%, 86%);
    text-align:center;
    padding: 25px;
}

.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 50px;

}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
aside{
    width: 40%;
    float: left;
    padding:10px;
}
footer{
    display: block;
    clear: both;

       background-color: hsl(0, 8%, 86%);
    text-align:center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside,section,article{
        width: 100px;
    }
}